body {
    margin: 0;
    font-family: Arial;
    display: flex;
    background: #f4f6f9;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #1f2a40;
    color: white;
    padding: 20px;
    position: fixed;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #00c2ff;
}

.main {
    margin-left: 240px;
    padding: 20px;
    width: 100%;
}